html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #164ea7;
    padding: 16px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 3px 2px gray);
}

header .logo {
    width: 28px;
    filter: drop-shadow(0 1px 3px #000);
    margin-right: 16px;
}

header .title {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    filter: drop-shadow(0 2px 3px #000);
}

.subtitle {
    margin-top: 32px;
    margin-left: 16px;
}

.container {
    display: flex;
}

footer {
    padding: 32px 0 32px 64px;
    background-color: #ededed;
    display: flex;
    align-items: center;
}

footer * {
    text-decoration: none;
    color: dimgrey;
    margin-right: 36px;
}

footer *:hover {
    color: #164ea7;
}

.portlet-col:not(:first-child) {
    padding-left: 24px;
}

.portlet-col:not(:last-child) {
    padding-right: 24px;
}

.portlet-parent {
    margin: 24px;
}

.portlet-hide {
    display: none;
}

.help-link {
    margin-left: 0.6em;
    cursor: help;
    text-decoration: underline;
    text-decoration-color: black;
}

#portlet-USE_LIBRARY * {
    width: 296px;
    list-style: none;
    padding: 0;
}
