html, body {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('/assets/image/b1-1 5-ai-only-grey.png');
    background-repeat: no-repeat;
    background-position: bottom right 32px;
    background-size: 280px;
}

header {
    background: #164ea7;
    padding: 16px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0 3px 2px gray);
}

header .logo {
    width: 28px;
    filter: drop-shadow(0 1px 3px #000);
    margin-right: 16px;
}

header .title {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    filter: drop-shadow(0 2px 3px #000);
}

.subtitle {
    margin-top: 32px;
    margin-left: 16px;
}

.container {
    display: flex;
}

.portlet-col {
}

.portlet-parent {
    margin: 24px;
}

.portlet-hide {
    display: none;
}
